/* :root {
  --tg-theme-bg-color: var(--tg-theme-background-color);
}

body {
  background: var(--tg-theme-bg-color, white);
} */

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}